@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

body 
{
    background: rgb(197, 255, 130);
    color: rgb(0, 66, 18);
    font-family: 'Inter', sans-serif;
}

.page
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title 
    {
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
    }

    &-box 
    {
        display: flex;
        flex-direction: column;
        padding: 50px;

        &b
        {
            padding: 25px 20px;
            background-color: rgb(227, 227, 227);
            margin: 10px 0px;
            letter-spacing: 3px;
            text-align: left;
        }

    }
}
